python-dotenv
llama-index
langchain
langchain-core
langchain-community
langchain-openai
cohere
llama-index-llms-cohere
llama-index-embeddings-cohere
llama-index-postprocessor-cohere-rerank
groq
llama-index-llms-groq
openai
langchain-openai
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
qdrant-client
llama-index-vector-stores-qdrant 
llama-index-readers-file 
llama-index-readers-smart-pdf-loader
llama-index-embeddings-fastembed 
llama-index-retrievers-bm25
streamlit
html2text
utils
dataset
tqdm
pymupdf 
llmsherpa
ragas
rapidfuzz